:root {
    --head-color: #C65146;
    --body-color: #EC6A5C;
    --hover-color: #AF4034;
    
    --text-color: #FFE4E0;
}

body {
    margin: 0;
    font-family: 'jua';
    background: var(--body-color);
}
a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--head-color);
    padding: 4px 12px;
}

.navbar__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 24px;
    color: var(--text-color);
    padding: 6px 12px;
}
.navbar__logo a {
    margin: 0px 12px;
}
#small_title {
    display: none;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
    padding-left: 0;
}
.navbar__menu li {
    padding: 6px 12px;
}
.navbar__menu li:hover {
    border-radius: 4px;
    background-color: var(--hover-color);
}

.navbar__button {
    display: none;
    justify-content: space-between;
    font-size: 18px;
    list-style: none;
}
.navbar__button a {
    padding: 6px 12px;
}
.navbar__button a:hover {
    border-radius: 4px;
    background-color: var(--hover-color);
}

.timer {
    border-radius: 10px;
    background: rgba(255,255,255,0.1);

    margin: 10vh auto;
    width: 580px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.timer__clock {
    color: var(--text-color);
    font-size: 200px;
}
.timer__button {
    background: none;
    border: none;

    font-size: 100px;
}
.timer__button__pause {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar__menu {
        display: none;
    }

    .navbar__button {
        display: flex;
    }

    .timer {
        width: 95%;
    }
    .timer__clock {
        font-size: 33vw;
    }
    .timer__button {
        font-size: 16.5vw;
    }
}
@media screen and (max-width: 368px) {
    #normal_title {
        display: none;
    }
    #small_title {
        display: block;
    }
}