:root {
    --head-color: #C65146;
    --body-color: #EC6A5C;
    --hover-color: #AF4034;
    
    --text-color: #FFE4E0;
}

body {
    margin: 0;
    font-family: 'jua';
    background: var(--body-color);
}
a {
    text-decoration: none;
    color: var(--text-color);
}
li {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--head-color);
    padding: 4px 12px;
}

.navbar__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 24px;
    color: var(--text-color);
    padding: 6px 12px;
}
.navbar__logo a {
    margin: 0px 12px;
}
#small_title {
    display: none;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-left: 0;
}
.navbar__menu li {
    padding: 6px 12px;
}
.navbar__menu li:hover {
    border-radius: 4px;
    background-color: var(--hover-color);
}

.navbar__button {
    display: none;
    justify-content: space-between;
    font-size: 18px;
}
.navbar__button a {
    padding: 6px 12px;
}
.navbar__button a:hover {
    border-radius: 4px;
    background-color: var(--hover-color);
}

.timer {
    border-radius: 10px;
    background: rgba(255,255,255,0.1);

    margin: 8vh auto;
    width: 580px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.timer__clock {
    color: var(--text-color);
    font-size: 200px;
    font-family: 'Arial Rounded MT', 'jua', 'monospace';
    font-weight: bold;
}
.timer__button {
    background: none;
    border: none;

    font-size: 100px;
}
.timer__button__pause {
    display: none;
}

.setting {
    width: 500px;
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;

    border-radius: 10px;
    background: rgba(200, 200, 200, 0.95);
}
.setting.active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.setting article {
    width: 90%;
    margin: 20px 30px;
    display: flex;
    flex-direction: row;
}
.setting__title {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 50px;
}
.setting__time li {
    display: flex;
    flex-direction: column;
}
.setting__time li input {
    font-size: 26px;
    width: 50%;

    border-radius: 5px;
}
.setting__sound {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setting__sound li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.setting__sound a {
    padding: 20px 20px;
    font-size: 34px;
}
.setting a {
    color: black;
}
.setting a:hover {
    color: gray;
}

@media screen and (max-width: 600px) {
    .navbar__menu {
        display: none;
    }

    .navbar__button {
        display: flex;
    }

    .timer {
        width: 95%;
    }
    .timer__clock {
        font-size: 33vw;
    }
    .timer__button {
        font-size: 16.5vw;
    }

    .setting {
        width: 83%;
    }
}

@media screen and (max-width: 368px) {
    #normal_title {
        display: none;
    }
    #small_title {
        display: block;
    }
}