:root {
    --head-color: #C65146;
    --body-color: #EC6A5C;
    --hover-color: #AF4034;
    
    --relax-head-color: #379392;
    --relax-body-color: #519D9E;
    
    --text-color: #FFE4E0;
}

body {
    margin: 0;
    font-family: 'jua';
    background: var(--body-color);
}
body.relax {
    background: var(--relax-body-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--head-color);
    padding: 4px 24px;
}
.navbar.relax {
    background: var(--relax-head-color);
}

.navbar__logo {
    font-size: 24px;
    color: var(--text-color);
    padding: 6px 12px;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}
.navbar__menu li {
    padding: 6px 12px;
}
.navbar__menu li:hover {
    border-radius: 4px;
    background-color: var(--hover-color);
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    top: 23px;
    right: 32px;
    font-size: 24px;
}

.timer {
    border-radius: 10px;
    background: rgba(255,255,255,0.1);

    margin: 20vh auto;
    width: 580px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.timer__clock {
    color: var(--text-color);
    font-size: 200px;
}

.timer__button {
    background: none;
    border: none;

    font-size: 100px;
}
.timer__button__pause {
    display: none;
}
hr {
    border: 1px solid rgba(0,0,0,0.5);
}

#relax {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 13px 24px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active {
        display: flex;
    }

    .timer {
        width: 95%;
    }
    .timer__clock {
        font-size: 33vw;
    }
    .timer__button {
        font-size: 16.5vw;
    }
}